.slideshow {
  flex: 1;
  background-color: #333;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
